<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.3"/>
    </startup>
  <connectionStrings>
		<!-- 
			Put the connection string of the database you want to generate classes
			from in here.
		-->
	  
  </connectionStrings>
</configuration>
